/* You can add global styles to this file, and also import other style files */
@import '~@locl/scss';
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";

/*** ELEMENTS ***/
//@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
//@import "~bulma/sass/elements/container.sass";
//@import "~bulma/sass/elements/content.sass";
//@import "~bulma/sass/elements/icon.sass";
//@import "~bulma/sass/elements/image.sass";
//@import "~bulma/sass/elements/notification.sass";
//@import "~bulma/sass/elements/progress.sass";
//@import "~bulma/sass/elements/table.sass";
//@import "~bulma/sass/elements/tag.sass";
//@import "~bulma/sass/elements/title.sass";
//@import "~bulma/sass/elements/other.sass";

/*** FORMS ***/
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
//@import "~bulma/sass/form/checkbox-radio.sass";
//@import "~bulma/sass/form/select.sass";
//@import "~bulma/sass/form/file.sass";
//@import "~bulma/sass/form/tools.sass";

/*** COMPONENTS ***/
//@import "~bulma/sass/components/breadcrumb.sass";
//@import "~bulma/sass/components/card.sass";
//@import "~bulma/sass/components/dropdown.sass";
//@import "~bulma/sass/components/level.sass";
//@import "~bulma/sass/components/list.sass";
//@import "~bulma/sass/components/media.sass";
//@import "~bulma/sass/components/menu.sass";
//@import "~bulma/sass/components/message.sass";
//@import "~bulma/sass/components/modal.sass";
//@import "~bulma/sass/components/navbar.sass";
//@import "~bulma/sass/components/pagination.sass";
//@import "~bulma/sass/components/panel.sass";
//@import "~bulma/sass/components/tabs.sass";

/*** GRID ***/
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/grid/tiles.sass";

/*** LAYOUT ***/
//@import "~bulma/sass/layout/hero.sass";
//@import "~bulma/sass/layout/section.sass";
//@import "~bulma/sass/layout/footer.sass";